body {
    background-color: #ffffff;
}

svg {
    display: inline-block;
    vertical-align: middle;
    width: var(--icon-size, 24px);
    height: var(--icon-size, 24px);
    fill: var(--icon-fill, currentColor);
}

.test-img {
    background-image: url('../images/web.png');
}